@mixin button-solid ($background, $border) {
    color: white;
    background-color: $background;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: rgba($background, $alpha: 1.0);
        box-shadow: 0px 3px 10px -1px rgba($background, $alpha: 0.3);
    }
    .check:focus+&,
    &:focus {
        outline: 0;
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.2);
    }
    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active {
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.2);
        &:focus {
            box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.2);
        }
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: 0.5;
    }

}

@mixin button-text ($background, $border) {
    color: $background;
    font-weight: bold;
    background-color: transparent;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: rgba($background, $alpha: 0.3);
    }
    .check:focus+&,
    &:focus {
        outline: 0;
        background-color: rgba($background, $alpha: 0.3);
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.15);
    }
    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active {
        background-color: rgba($background, $alpha: 0.3);
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.15);
        &:focus {
            background-color: rgba($background, $alpha: 0.3);
            box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.15);
        }
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: 0.5;
    }

}

@mixin button-outline ($background, $border) {
    color: $background;
    background-color: transparent;
    border: $background 1px solid;
    transition: all .3s ease-in-out;
    &:hover {
        color:white;
        background-color: $background;
    }
    .check:focus+&,
    &:focus {
        outline: 0;
        color:white;
        background-color: $background;
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.2);
    }
    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active {
        color:white;
        background-color: $background;
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.2);
        &:focus {
            color:white;
        background-color: $background;
            box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.2);
        }
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: 0.5;
    }

}

@mixin button-opacity ($background, $border) {
    color: $background;
    background-color: rgba($background, $alpha: 0.1);
    transition: all .3s ease-in-out;
    &:hover {
        background-color: rgba($background, $alpha: 0.3);
    }
    .check:focus+&,
    &:focus {
        outline: 0;
        background-color: rgba($background, $alpha: 0.3);
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.15);
    }
    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active {
        background-color: rgba($background, $alpha: 0.3);
        box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.15);
        &:focus {
            background-color: rgba($background, $alpha: 0.3);
            box-shadow: 0px 0px 0px 4px rgba($background, $alpha: 0.15);
        }
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: 0.5;
    }

}
